<a href="https://colab.research.google.com/github/yanxinhan98/MSAI-339-Data-Science-Seminar/blob/main/Copy_of_Homework_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1: Finding Evening Products to Drive Incremental Revenue at Instacart

Your team has been brought to work with the merchandising team at Instacart.  The problem: early evening hours have delivery / driver availability but the number of orders falls off in the evening hours.  
&nbsp;   
We need to determine which products are being sold in the evening 6PM+ (18-23 in order_hour_of_day) hours so that the team can create new promotions.  To avoid developing a list of niche products we'd like to restrict our analysis to products that are ordered at least 5000 times.    
&nbsp;  

All the data you need is stored in the redshift database.  Please update the code in each code cell to build to the final list of products.  

Don't forget to save your work locally.  Please submit a shareable link to your colab notebook to canvas by Friday 10/7 at midnight.

![picture](https://raw.githubusercontent.com/brook-miller/msai339-students/main/1-homework/instacart.png)

# Setting up the environment

In [2]:
#@title installs for sqlalchemy and sqlmagic
!pip install sqlalchemy-redshift --quiet
!pip install redshift_connector --quiet
!pip install ipython-sql --quiet

     |████████████████████████████████| 112 kB 5.1 MB/s
     |████████████████████████████████| 9.2 MB 34.9 MB/s
     |████████████████████████████████| 132 kB 63.4 MB/s
     |████████████████████████████████| 128 kB 65.2 MB/s
     |████████████████████████████████| 79 kB 7.1 MB/s
     |████████████████████████████████| 140 kB 54.6 MB/s
     |████████████████████████████████| 127 kB 53.9 MB/s
     |████████████████████████████████| 105 kB 59.1 MB/s
     |████████████████████████████████| 1.6 MB 5.2 MB/s

In [3]:
#@title standard imports - we'll use in most EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from datetime import datetime, timedelta
from dateutil.parser import parse
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [4]:
#@title setting up sql connection and sql magic, unique to this lab

import getpass
import sqlalchemy as sa
from sqlalchemy.engine.url import URL
from sqlalchemy import orm as sa_orm

connect_to_db = URL.create(
drivername='redshift+redshift_connector',     
host='msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com',     
port=5439,  
database='dev',  
username='msai339',         #username should not be hard coded either
password=getpass.getpass()  #please don't put passwords into code
)

engine = sa.create_engine(connect_to_db)
%reload_ext sql
%sql $connect_to_db

··········

'Connected: msai339@dev'

# Determining evening products

## Show the number of orders by hour of day

In [5]:
%%sql
select order_hour_of_day as hour_of_day, COUNT(distinct order_id) as number_of_orders
from orders
group by hour_of_day
order by hour_of_day

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(0, 22758),
 (1, 12398),
 (2, 7539),
 (3, 5474),
 (4, 5527),
 (5, 9569),
 (6, 30529),
 (7, 91868),
 (8, 178201),
 (9, 257812),
 (10, 288418),
 (11, 284728),
 (12, 272841),
 (13, 277999),
 (14, 283042),
 (15, 283639),
 (16, 272553),
 (17, 228795),
 (18, 182912),
 (19, 140569),
 (20, 104292),
 (21, 78109),
 (22, 61468),
 (23, 40043)]

## Determine the number of products ordered by hour of day

In [7]:
%%sql
select order_hour_of_day, COUNT(*) as total_products
from orders inner join order_products
on orders.order_id = order_products.order_id
group by order_hour_of_day
order by order_hour_of_day

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(0, 218948),
 (1, 115786),
 (2, 69434),
 (3, 51321),
 (4, 53283),
 (5, 88062),
 (6, 290795),
 (7, 891937),
 (8, 1719973),
 (9, 2456713),
 (10, 2764426),
 (11, 2738582),
 (12, 2620847),
 (13, 2663292),
 (14, 2691548),
 (15, 2664533),
 (16, 2537458),
 (17, 2089465),
 (18, 1637923),
 (19, 1259401),
 (20, 977038),
 (21, 796370),
 (22, 634734),
 (23, 402620)]

## Calculate the basket size (# products / # orders) by hour of day

In [6]:
%%sql 
select order_hour_of_day, (COUNT(*) / COUNT(distinct op.order_id)) as "basket_size"  
from orders o inner join order_products op
on o.order_id = op.order_id
group by order_hour_of_day
order by order_hour_of_day

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[(0, 10),
 (1, 9),
 (2, 9),
 (3, 10),
 (4, 10),
 (5, 9),
 (6, 10),
 (7, 10),
 (8, 10),
 (9, 10),
 (10, 10),
 (11, 10),
 (12, 10),
 (13, 10),
 (14, 10),
 (15, 10),
 (16, 9),
 (17, 9),
 (18, 9),
 (19, 9),
 (20, 9),
 (21, 10),
 (22, 11),
 (23, 10)]

## Find the most commonly ordered products

In [8]:
%%sql
select distinct p.product_name, COUNT(*) as product_count
from order_products op inner join products p
on op.product_id = p.product_id
group by p.product_name
order by product_count DESC
limit 10

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 472565),
 ('Bag of Organic Bananas', 379450),
 ('Organic Strawberries', 264683),
 ('Organic Baby Spinach', 241921),
 ('Organic Hass Avocado', 213584),
 ('Organic Avocado', 176815),
 ('Large Lemon', 152657),
 ('Strawberries', 142951),
 ('Limes', 140627),
 ('Organic Whole Milk', 137905)]

## ***The most commonly ordered products is banana.***

## Find the most commonly ordered products in the evening hours (18-23)

In [9]:
%%sql
with e_order as (
select * 
from orders o inner join order_products op
on o.order_id = op.order_id
where order_hour_of_day between 18 and 23
)
select product_name, COUNT(*) as product_num
from e_order e inner join products p  
on e.product_id = p.product_id
group by product_name
order by product_num desc
limit 10

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Banana', 83870),
 ('Bag of Organic Bananas', 67351),
 ('Organic Strawberries', 49211),
 ('Organic Baby Spinach', 43830),
 ('Organic Hass Avocado', 38181),
 ('Organic Avocado', 31455),
 ('Organic Whole Milk', 25697),
 ('Large Lemon', 25207),
 ('Strawberries', 25145),
 ('Organic Raspberries', 24913)]

## ***The most commonly ordered products in the evening hours is banana.***

## Calculate products that have the highest percentage of sales in the evening hours

In [10]:
%%sql
with day_product as (
select distinct p.product_name, COUNT(*) as product_count
from order_products op inner join products p
on op.product_id = p.product_id
group by p.product_name
), e_product as (
with e_order as (
select * 
from orders o inner join order_products op
on o.order_id = op.order_id
where order_hour_of_day between 18 and 23
)
select product_name, COUNT(*) as product_num
from e_order e inner join products p  
on e.product_id = p.product_id
group by product_name
)

select dp.product_name, product_num, product_count, 100 * product_num / product_count as perc
from day_product dp inner join e_product ep 
on dp.product_name = ep.product_name
where perc = 100
order by perc desc

 * redshift+redshift_connector://msai339:***@msai-339.crhqxpmozxj1.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[('Fruit Me Up!  Applesauce Pouches', 1, 1, 100),
 ('Milk Chocolate Truffle Brûlée', 2, 2, 100),
 ('Pappardelle Nests Pasta', 1, 1, 100),
 ('Aloo Tikki Indian Bites', 2, 2, 100),
 ('Organic Honey Bunch Grape Tomatoes', 2, 2, 100),
 ('Cabernet Sauvignon 2015', 1, 1, 100),
 ('Cajun Style Red Beans with Seasonings and Vegetables', 5, 5, 100),
 ('Peas Pulav Basmati Rice With Green Peas', 1, 1, 100),
 ('Bite Size Caramel Chocolates', 1, 1, 100),
 ('Frozen Complete Multivitamin Gummies', 3, 3, 100),
 ('Rising Crust Pizza Four Cheese Family Size', 3, 3, 100),
 ('Calorie Free Thousand Island Dressing', 3, 3, 100),
 ('1,000 Mg Vitamin C Tangerine Grapefruit Effervescent Powdered Drink Mix', 1, 1, 100),
 ('Chicken Pot Pie Style Soup', 3, 3, 100),
 ('Vitality Chicken Breasts with Flaxseed & Vitamins Dog Treats', 1, 1, 100),
 ('Smooth & Silky Head and Shoulders Smooth & Silky 2-in-1 Dandruff Shampoo + Conditioner 13.5 Fl Oz Female Hair Care', 1, 1, 100),
 ('Vanilla Latte Iced Coffee Drink', 1, 1, 100),
 ('String Of Pearl White Sprinkles', 1, 1, 100),
 ('WetJet Floor Mop Starter Kit', 4, 4, 100),
 ('Strawberry Energy Gel', 1, 1, 100),
 ('Sloppy Joe Sandwich Makers', 1, 1, 100),
 ('Lowfat Cherry Lime Supernova Kefir Cultured Milk Smoothie', 1, 1, 100),
 ('Coconut Cardamom Almond Butter', 1, 1, 100),
 ('Mustard & Onion', 1, 1, 100),
 ("'Swingtop' Premium Lager", 1, 1, 100),
 ('Sugar Leaf  Stevia and Raw Cane Sugar', 1, 1, 100),
 ('Gentle Scrunchies', 2, 2, 100),
 ('Piquillo & Jalapeno Bruschetta', 1, 1, 100),
 ('Organic Tom Yum Soup Starter Soup Base', 3, 3, 100),
 ('Blackened Turkey', 1, 1, 100),
 ('Private Stock Cheese Classic Vermont Cheddar', 4, 4, 100),
 ('Pumpkin Spice Almond Nog', 1, 1, 100),
 ('Lycopodium Clavatum 30 C', 3, 3, 100),
 ('Freshmatic Ultra Automatic Spray Refill, Vanilla Passion', 1, 1, 100),
 ('Mini Cream Puff', 2, 2, 100),
 ('Bottle & Nipple Brush Set', 1, 1, 100),
 ('Lindor Peppermint White Chocolate Truffles', 1, 1, 100),
 ('Mung Dal with Spinach', 2, 2, 100),
 ('Super Nutrition Vanilla Shake', 1, 1, 100),
 ('Spicy Falafel', 1, 1, 100),
 ('Grill Mates Brown Sugar Bourbon Seasoning', 1, 1, 100),
 ('Organic Chocolate Mint Caffeine Free Tea', 2, 2, 100),
 ('Organic Ice Cream Birthday Cake', 1, 1, 100),
 ('Blackberry Flow', 1, 1, 100),
 ('Flame Roasted Red Peppers Spreadable Cheese', 1, 1, 100),
 ('Berry Sprouted Blend Cereal', 1, 1, 100)]

### There are several products which have the highest percentage of sales(100%) in the evening hours. That means these products are only ordered during the evening hours.

## Advanced: This is extra credit that does not earn extra points.  

add_to_cart_order enumerates the order in which items were added to the cart for a particular *order*.  Which products are added to the cart first?  How does that change based on cutting off number of orders at 10, 100, 1000?  Is there a way to rank the items so that we find items that are likely to be the first item added to the cart without having to specify an arbitrary cut off.

[Hint](https://nbviewer.org/github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter4_TheGreatestTheoremNeverTold/Ch4_LawOfLargeNumbers_PyMC3.ipynb#Sorting!)